.member-profile {
    padding: 1%;
    width: 33.333%;
    height: auto;
    display: inline-table;
    border: 1px solid #000000;
    align-content: center;
}

.member-image {
    height: 100%;
    width: 23%;
    margin-left: 2%;
    float: left;
}

.member-image>img {
    width: 100%;
}

.member-details {
    height: 100%;
    width: 73%;
    margin-left: 2%;
    float: right;
}

.member-info {
    width: 75%;
}